/** ADD YOUR AWESOME CODES HERE **/
/*@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');*/

#redirect_msg {
    color: red;
}

button[name="accepted"] {
    color: green;
}

button[name="rejected"] {
    color: red;
}

.policy_picture {
    width: 320px;
    height: 200px;
}


.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

/*.policy_picture{*/
/*    transition: .5s;*/
/*}*/
/*.policy_picture:hover {*/
/*    transform: scale(3);*/
/*}*/

/*#my_image{*/
/*    width: 200px;*/
/*    margin: 20px;*/
/*    cursor: crosshair;*/
/*}*/


#close_image{
    transition: .5s;
    background: #ececec;
    position: fixed;
    left: 20%;
    top: 575px;
    z-index: 10;
}

#appear_image{
    transition: .5s;
    display: flex;
    height: 60%;
    width: 60%;
    margin: auto;
    position: fixed;
    border: 2px black;
    z-index: 11;
    top: 50px;
    left: 20%;
}

