body {
    margin: 0;
    font-size: 20px;
}
* {
    box-sizing: border-box;
}
.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
    color: black;
    font-family: arial, sans-serif;
    overflow: hidden;
}
.content {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: 20px;
    background: white;
    padding: 60px 40px;
    text-align: center;
    box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}
.content p {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.6rem;
    letter-spacing: 0.1rem;
    color: #595959;
}
.content p:last-child {
    margin-bottom: 0;
}
.content button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: 3px solid #595959;
    background: transparent;
    font-size: 1rem;
    color: #595959;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
.particle {
    position: absolute;
    display: block;
    pointer-events: none;
}
.particle:nth-child(1) {
    top: 70.6166868198%;
    left: 66.2122687439%;
    font-size: 27px;
    filter: blur(0.02px);
    animation: 21s floatReverse2 infinite;
}
.particle:nth-child(2) {
    top: 61.8404907975%;
    left: 11.8226600985%;
    font-size: 15px;
    filter: blur(0.04px);
    animation: 38s floatReverse infinite;
}
.particle:nth-child(3) {
    top: 69.0157958688%;
    left: 42.0332355816%;
    font-size: 23px;
    filter: blur(0.06px);
    animation: 24s floatReverse2 infinite;
}
.particle:nth-child(4) {
    top: 27.5862068966%;
    left: 14.8221343874%;
    font-size: 12px;
    filter: blur(0.08px);
    animation: 26s floatReverse infinite;
}
.particle:nth-child(5) {
    top: 73.5187424426%;
    left: 54.5277507303%;
    font-size: 27px;
    filter: blur(0.1px);
    animation: 31s float infinite;
}
.particle:nth-child(6) {
    top: 30.4294478528%;
    left: 17.7339901478%;
    font-size: 15px;
    filter: blur(0.12px);
    animation: 37s floatReverse2 infinite;
}
.particle:nth-child(7) {
    top: 72.9963008631%;
    left: 0.9891196835%;
    font-size: 11px;
    filter: blur(0.14px);
    animation: 28s floatReverse infinite;
}
.particle:nth-child(8) {
    top: 12.7764127764%;
    left: 44.3786982249%;
    font-size: 14px;
    filter: blur(0.16px);
    animation: 28s floatReverse infinite;
}
.particle:nth-child(9) {
    top: 92.3450789793%;
    left: 75.2688172043%;
    font-size: 23px;
    filter: blur(0.18px);
    animation: 24s float2 infinite;
}
.particle:nth-child(10) {
    top: 20.487804878%;
    left: 72.5490196078%;
    font-size: 20px;
    filter: blur(0.2px);
    animation: 36s floatReverse2 infinite;
}
.particle:nth-child(11) {
    top: 30.0606060606%;
    left: 5.8536585366%;
    font-size: 25px;
    filter: blur(0.22px);
    animation: 25s float2 infinite;
}
.particle:nth-child(12) {
    top: 45.3558504222%;
    left: 51.5063168124%;
    font-size: 29px;
    filter: blur(0.24px);
    animation: 38s floatReverse infinite;
}
.particle:nth-child(13) {
    top: 83.8471023428%;
    left: 45.4995054402%;
    font-size: 11px;
    filter: blur(0.26px);
    animation: 36s float2 infinite;
}
.particle:nth-child(14) {
    top: 21.7016029593%;
    left: 72.2057368942%;
    font-size: 11px;
    filter: blur(0.28px);
    animation: 26s float infinite;
}
.particle:nth-child(15) {
    top: 34.2717258262%;
    left: 61.9469026549%;
    font-size: 17px;
    filter: blur(0.3px);
    animation: 31s floatReverse infinite;
}
.particle:nth-child(16) {
    top: 41.9512195122%;
    left: 70.5882352941%;
    font-size: 20px;
    filter: blur(0.32px);
    animation: 37s floatReverse2 infinite;
}
.particle:nth-child(17) {
    top: 48.3353884094%;
    left: 54.4015825915%;
    font-size: 11px;
    filter: blur(0.34px);
    animation: 40s float infinite;
}
.particle:nth-child(18) {
    top: 49.0797546012%;
    left: 87.684729064%;
    font-size: 15px;
    filter: blur(0.36px);
    animation: 22s float2 infinite;
}
.particle:nth-child(19) {
    top: 50.184501845%;
    left: 26.6535044423%;
    font-size: 13px;
    filter: blur(0.38px);
    animation: 31s floatReverse infinite;
}
.particle:nth-child(20) {
    top: 67.0776818742%;
    left: 44.5103857567%;
    font-size: 11px;
    filter: blur(0.4px);
    animation: 33s floatReverse infinite;
}
.particle:nth-child(21) {
    top: 62.3629719854%;
    left: 90.1077375122%;
    font-size: 21px;
    filter: blur(0.42px);
    animation: 27s float infinite;
}
.particle:nth-child(22) {
    top: 63.6144578313%;
    left: 25.2427184466%;
    font-size: 30px;
    filter: blur(0.44px);
    animation: 33s floatReverse2 infinite;
}
.particle:nth-child(23) {
    top: 17.5395858709%;
    left: 3.9177277179%;
    font-size: 21px;
    filter: blur(0.46px);
    animation: 28s floatReverse infinite;
}
.particle:nth-child(24) {
    top: 74.9391727494%;
    left: 81.2133072407%;
    font-size: 22px;
    filter: blur(0.48px);
    animation: 29s float2 infinite;
}
.particle:nth-child(25) {
    top: 74.7847478475%;
    left: 46.3968410661%;
    font-size: 13px;
    filter: blur(0.5px);
    animation: 31s float2 infinite;
}
.particle:nth-child(26) {
    top: 52.427184466%;
    left: 37.109375%;
    font-size: 24px;
    filter: blur(0.52px);
    animation: 28s float infinite;
}
.particle:nth-child(27) {
    top: 58.7515299878%;
    left: 76.6961651917%;
    font-size: 17px;
    filter: blur(0.54px);
    animation: 24s float infinite;
}
.particle:nth-child(28) {
    top: 38.9768574909%;
    left: 49.9510284035%;
    font-size: 21px;
    filter: blur(0.56px);
    animation: 29s float infinite;
}
.particle:nth-child(29) {
    top: 87.8166465621%;
    left: 46.6472303207%;
    font-size: 29px;
    filter: blur(0.58px);
    animation: 21s floatReverse infinite;
}
.particle:nth-child(30) {
    top: 72.9927007299%;
    left: 59.686888454%;
    font-size: 22px;
    filter: blur(0.6px);
    animation: 23s float2 infinite;
}
.particle:nth-child(31) {
    top: 65.5421686747%;
    left: 1.9417475728%;
    font-size: 30px;
    filter: blur(0.62px);
    animation: 39s floatReverse2 infinite;
}
.particle:nth-child(32) {
    top: 27.0531400966%;
    left: 39.8832684825%;
    font-size: 28px;
    filter: blur(0.64px);
    animation: 38s float2 infinite;
}
.particle:nth-child(33) {
    top: 76.5133171913%;
    left: 41.910331384%;
    font-size: 26px;
    filter: blur(0.66px);
    animation: 37s floatReverse infinite;
}
.particle:nth-child(34) {
    top: 26.0240963855%;
    left: 47.572815534%;
    font-size: 30px;
    filter: blur(0.68px);
    animation: 33s floatReverse infinite;
}
.particle:nth-child(35) {
    top: 42.1568627451%;
    left: 87.5984251969%;
    font-size: 16px;
    filter: blur(0.7px);
    animation: 23s floatReverse2 infinite;
}
.particle:nth-child(36) {
    top: 0.9852216749%;
    left: 73.1225296443%;
    font-size: 12px;
    filter: blur(0.72px);
    animation: 29s float infinite;
}
.particle:nth-child(37) {
    top: 32.15590743%;
    left: 82.2722820764%;
    font-size: 21px;
    filter: blur(0.74px);
    animation: 37s floatReverse2 infinite;
}
.particle:nth-child(38) {
    top: 41.1764705882%;
    left: 6.8897637795%;
    font-size: 16px;
    filter: blur(0.76px);
    animation: 32s float infinite;
}
.particle:nth-child(39) {
    top: 98.0392156863%;
    left: 24.6062992126%;
    font-size: 16px;
    filter: blur(0.78px);
    animation: 22s float2 infinite;
}
.particle:nth-child(40) {
    top: 73.3413751508%;
    left: 85.5199222546%;
    font-size: 29px;
    filter: blur(0.8px);
    animation: 35s float infinite;
}
.particle:nth-child(41) {
    top: 96.7351874244%;
    left: 38.9483933788%;
    font-size: 27px;
    filter: blur(0.82px);
    animation: 24s floatReverse2 infinite;
}
.particle:nth-child(42) {
    top: 31.4496314496%;
    left: 44.3786982249%;
    font-size: 14px;
    filter: blur(0.84px);
    animation: 31s float infinite;
}
.particle:nth-child(43) {
    top: 32.1167883212%;
    left: 8.8062622309%;
    font-size: 22px;
    filter: blur(0.86px);
    animation: 31s float2 infinite;
}
.particle:nth-child(44) {
    top: 62.7450980392%;
    left: 65.9448818898%;
    font-size: 16px;
    filter: blur(0.88px);
    animation: 30s float infinite;
}
.particle:nth-child(45) {
    top: 49.8777506112%;
    left: 85.4616895874%;
    font-size: 18px;
    filter: blur(0.9px);
    animation: 33s float infinite;
}
.particle:nth-child(46) {
    top: 92.5700365408%;
    left: 72.4779627816%;
    font-size: 21px;
    filter: blur(0.92px);
    animation: 39s float2 infinite;
}
.particle:nth-child(47) {
    top: 50.1228501229%;
    left: 18.7376725838%;
    font-size: 14px;
    filter: blur(0.94px);
    animation: 24s float2 infinite;
}
.particle:nth-child(48) {
    top: 24.2424242424%;
    left: 37.0731707317%;
    font-size: 25px;
    filter: blur(0.96px);
    animation: 27s float infinite;
}
.particle:nth-child(49) {
    top: 31.067961165%;
    left: 86.9140625%;
    font-size: 24px;
    filter: blur(0.98px);
    animation: 26s float infinite;
}
.particle:nth-child(50) {
    top: 5.8041112455%;
    left: 34.0798442064%;
    font-size: 27px;
    filter: blur(1px);
    animation: 26s float2 infinite;
}
.particle:nth-child(51) {
    top: 53.0759951749%;
    left: 2.915451895%;
    font-size: 29px;
    filter: blur(1.02px);
    animation: 22s floatReverse infinite;
}
.particle:nth-child(52) {
    top: 67.0716889429%;
    left: 33.2355816227%;
    font-size: 23px;
    filter: blur(1.04px);
    animation: 30s float2 infinite;
}
.particle:nth-child(53) {
    top: 41.6464891041%;
    left: 15.5945419103%;
    font-size: 26px;
    filter: blur(1.06px);
    animation: 36s float2 infinite;
}
.particle:nth-child(54) {
    top: 9.6852300242%;
    left: 37.037037037%;
    font-size: 26px;
    filter: blur(1.08px);
    animation: 32s float2 infinite;
}
.particle:nth-child(55) {
    top: 47.8048780488%;
    left: 78.431372549%;
    font-size: 20px;
    filter: blur(1.1px);
    animation: 33s float2 infinite;
}
.particle:nth-child(56) {
    top: 67.2350791717%;
    left: 13.7120470127%;
    font-size: 21px;
    filter: blur(1.12px);
    animation: 31s floatReverse infinite;
}
.particle:nth-child(57) {
    top: 78.7207872079%;
    left: 56.2685093781%;
    font-size: 13px;
    filter: blur(1.14px);
    animation: 29s floatReverse2 infinite;
}
.particle:nth-child(58) {
    top: 76.7922235723%;
    left: 91.8866080156%;
    font-size: 23px;
    filter: blur(1.16px);
    animation: 26s float2 infinite;
}
.particle:nth-child(59) {
    top: 85.6447688564%;
    left: 28.3757338552%;
    font-size: 22px;
    filter: blur(1.18px);
    animation: 25s float infinite;
}
.particle:nth-child(60) {
    top: 64.1555285541%;
    left: 74.2913000978%;
    font-size: 23px;
    filter: blur(1.2px);
    animation: 37s float infinite;
}
.particle:nth-child(61) {
    top: 27.2506082725%;
    left: 1.9569471624%;
    font-size: 22px;
    filter: blur(1.22px);
    animation: 26s float infinite;
}
.particle:nth-child(62) {
    top: 91.6767189385%;
    left: 68.0272108844%;
    font-size: 29px;
    filter: blur(1.24px);
    animation: 29s floatReverse infinite;
}
.particle:nth-child(63) {
    top: 31.9612590799%;
    left: 4.873294347%;
    font-size: 26px;
    filter: blur(1.26px);
    animation: 23s float2 infinite;
}
.particle:nth-child(64) {
    top: 64.7058823529%;
    left: 9.842519685%;
    font-size: 16px;
    filter: blur(1.28px);
    animation: 23s floatReverse2 infinite;
}
.particle:nth-child(65) {
    top: 81.2575574365%;
    left: 89.5813047712%;
    font-size: 27px;
    filter: blur(1.3px);
    animation: 26s float infinite;
}
.particle:nth-child(66) {
    top: 73.4299516908%;
    left: 77.8210116732%;
    font-size: 28px;
    filter: blur(1.32px);
    animation: 39s float2 infinite;
}
.particle:nth-child(67) {
    top: 88.6699507389%;
    left: 67.1936758893%;
    font-size: 12px;
    filter: blur(1.34px);
    animation: 21s floatReverse infinite;
}
.particle:nth-child(68) {
    top: 28.0871670702%;
    left: 8.7719298246%;
    font-size: 26px;
    filter: blur(1.36px);
    animation: 24s floatReverse infinite;
}
.particle:nth-child(69) {
    top: 22.6044226044%;
    left: 13.8067061144%;
    font-size: 14px;
    filter: blur(1.38px);
    animation: 30s float infinite;
}
.particle:nth-child(70) {
    top: 9.7205346294%;
    left: 49.853372434%;
    font-size: 23px;
    filter: blur(1.4px);
    animation: 27s float infinite;
}
.particle:nth-child(71) {
    top: 60.7843137255%;
    left: 14.7637795276%;
    font-size: 16px;
    filter: blur(1.42px);
    animation: 36s float2 infinite;
}
.particle:nth-child(72) {
    top: 20.2898550725%;
    left: 23.3463035019%;
    font-size: 28px;
    filter: blur(1.44px);
    animation: 33s floatReverse infinite;
}
.particle:nth-child(73) {
    top: 75.7281553398%;
    left: 62.5%;
    font-size: 24px;
    filter: blur(1.46px);
    animation: 33s float infinite;
}
.particle:nth-child(74) {
    top: 68.7960687961%;
    left: 71.0059171598%;
    font-size: 14px;
    filter: blur(1.48px);
    animation: 39s floatReverse infinite;
}
.particle:nth-child(75) {
    top: 71.8446601942%;
    left: 74.21875%;
    font-size: 24px;
    filter: blur(1.5px);
    animation: 28s floatReverse2 infinite;
}
.particle:nth-child(76) {
    top: 73.696969697%;
    left: 65.3658536585%;
    font-size: 25px;
    filter: blur(1.52px);
    animation: 38s float2 infinite;
}
.particle:nth-child(77) {
    top: 28.0193236715%;
    left: 77.8210116732%;
    font-size: 28px;
    filter: blur(1.54px);
    animation: 38s float infinite;
}
.particle:nth-child(78) {
    top: 44.3373493976%;
    left: 68.932038835%;
    font-size: 30px;
    filter: blur(1.56px);
    animation: 25s floatReverse2 infinite;
}
.particle:nth-child(79) {
    top: 80.3921568627%;
    left: 55.1181102362%;
    font-size: 16px;
    filter: blur(1.58px);
    animation: 30s floatReverse2 infinite;
}
.particle:nth-child(80) {
    top: 72.6392251816%;
    left: 42.8849902534%;
    font-size: 26px;
    filter: blur(1.6px);
    animation: 23s floatReverse2 infinite;
}
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(180px);
    }
}
@keyframes floatReverse {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-180px);
    }
}
@keyframes float2 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(28px);
    }
}
@keyframes floatReverse2 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-28px);
    }
}
 