<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>CITY Real Estate - Responsive HTML5 Landing Page Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link th:href="@{/images/favicon.ico}" rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon"/>
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon" href="../static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link th:href="@{/style.css}" rel="stylesheet" href="../static/style.css">
    <!-- Colors CSS -->
    <link th:href="@{/css/colors.css}" rel="stylesheet" href="../static/css/colors.css">
    <!-- ALL VERSION CSS -->
    <link th:href="@{/css/versions.css}" rel="stylesheet" href="../static/css/versions.css">
    <!-- Responsive CSS -->
    <link th:href="@{/css/responsive.css}" rel="stylesheet" href="../static/css/responsive.css">
    <!-- Custom CSS -->
    <link th:href="@{/css/custom.css}" rel="stylesheet" href="../static/css/custom.css">

    <!-- Modernizer for Portfolio -->
    <script th:src="@{/js/modernizer.js}" src="../static/js/modernizer.js"></script>
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js" type="application/javascript"></script>



    <!--[if lt IE 9]>
    //TODO MAYBE
    <script src="../static/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="../static/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="realestate_version">

<!-- LOADER -->
<div id="preloader">
    <span class="loader"><span class="loader-inner"></span></span>
</div><!-- end loader -->
<!-- END LOADER -->

<header class="header header_style_01">
    <nav class="megamenu navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logos/logo.png}"
                                                            src="../static/images/logos/logo.png" alt="image"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="active" th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/about}">About us </a></li>
                    <li><a th:href="@{/service}">Service</a></li>
                    <li><a th:href="@{/gallery}">Gallery</a></li>
                    <li><a th:href="@{/properties}">Properties</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a></li>
                    <li><a sec:authorize="!isAuthenticated()" th:href="@{/register}">Register</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
                    <li class="social-links"><a href="#"><i class="fa fa-twitter global-radius"></i></a></li>
                    <li class="social-links"><a href="#"><i class="fa fa-facebook global-radius"></i></a></li>
                    <li class="social-links"><a href="#"><i class="fa fa-linkedin global-radius"></i></a></li>
                    <li class="search-option">
                        <button class="search tran3s dropdown-toggle" id="searchDropdown" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"
                                                                              aria-hidden="true"></i></button>
                        <form action="#" class="p-color-bg dropdown-menu tran3s" aria-labelledby="searchDropdown">
                            <label>
                                <input type="text" placeholder="Search....">
                            </label>
                            <button class="p-color-bg"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<ul class='slideshow'>
    <li>
        <span>Summer</span>
    </li>
    <li>
        <span>Fall</span>
    </li>
    <li>
        <span>Winter</span>
    </li>
    <li>
        <span>Spring</span>
    </li>
</ul>

<div class="parallax first-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow slideInLeft hidden-xs hidden-sm">
                <div class="contact_form">
                    <h3 th:text="'Hi, ' + ${principal}"><i class="fa fa-envelope-o grd1 global-radius"></i> QUICK OFFER
                    </h3>
                    <form th:action="@{/}" th:object="${carDto}" id="contactform1" class="row" method="post">
                        <fieldset class="row-fluid">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label for="brand_id"></label><select th:field="*{brandId}" name="select_service31"
                                                                      id="brand_id"
                                                                      th:id="brand_id"
                                                                      class="selectpicker form-control"
                                                                      data-style="btn-white">
                                <!--                                <option selected value="-1">Select Brand</option>-->
                                <option th:each="brand : ${brands}" th:value="${brand.id}"
                                        th:text="${brand.name}"></option>
                            </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label for="model_id"></label><select th:field="*{modelId}" name="select_service1"
                                                                      id="model_id"
                                                                      class="selectpicker form-control"
                                                                      data-style="btn-white">
                                <option selected value="-1">Select Model</option>
                                <option th:each="model : ${models}" th:data-brandid="${model.brand.id}"
                                        th:value="${model.id}"
                                        th:text="${model.name}"></option>
                            </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label for="cubics"></label><input th:field="*{cubicCapacity}" type="text" name="email1"
                                                                   id="cubics"
                                                                   class="form-control" th:placeholder="#{car.cubics}">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label for="reg_date"></label><input th:field="*{registrationDate}" type="date"
                                                                     name="phone1" id="reg_date"
                                                                     class="form-control" th:placeholder="#{car.reg}">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label class="sr-only">Select Time</label>
                                <label for="driver_age"></label><input th:field="*{driversAge}" type="text"
                                                                       name="driver-age" id="driver_age"
                                                                       class="form-control"
                                                                       th:placeholder="#{car.driver.age}">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" th:unless="${estimatedPrice == null}">
                                <h6>Estimated price <span class="badge badge-secondary">Great deal</span></h6>
                                <h6 th:text="${#numbers.formatDecimal(estimatedPrice, 0, 'COMMA', 2, 'POINT')} + #{lv}"></h6>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <button name="action" th:value="simulate" type="submit" value="SEND" id="submit1"
                                        class="btn btn-light btn-radius btn-brd grd1 btn-block">Simulate offer
                                </button>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="big-tagline clearfix">
                    <h2>Insure your car</h2>
                    <p class="lead">With our car insurance company which is the best in the region. </p>
                    <a data-scroll th:href="@{/service}" href="/service" class="btn btn-light btn-radius grd1 btn-brd">Request
                        Policy</a>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <img th:src="@{/images/logos/logo-realestate.png}"
                             src="../static/images/logos/logo-realestate.png" alt="">
                    </div>
                    <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus
                        bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis
                        montes.</p>
                    <p>Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.</p>
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Info Link</h3>
                    </div>

                    <ul class="twitter-widget footer-links">
                        <li><a href="#"> Home </a></li>
                        <li><a href="#"> About Us </a></li>
                        <li><a href="#"> Services</a></li>
                        <li><a href="#"> Gallery</a></li>
                        <li><a href="#"> Properties</a></li>
                        <li><a href="#"> Contact</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Contact Details</h3>
                    </div>

                    <ul class="footer-links">
                        <li><a href="mailto:#">info@yoursite.com</a></li>
                        <li><a href="#">www.yoursite.com</a></li>
                        <li>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
                        <li>+61 3 8376 6284</li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Social</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                        <li><a href="#"><i class="fa fa-github"></i> Github</a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i> Dribbble</a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">City Real Estate</a> Design
                    By : <a href="https://html.design/">html design</a></p>
            </div>

            <div class="footer-right">
                <form method="get" action="#">
                    <label>
                        <input placeholder="Subscribe our newsletter.." name="search">
                    </label>
                    <i class="fa fa-envelope-o"></i>
                </form>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<!-- ALL JS FILES -->
<script th:src="@{/js/all.js}" src="../static/js/all.js"></script>

<!-- ALL PLUGINS -->
<script th:src="@{/js/custom.js}" src="../static/js/custom.js"></script>
<script th:src="@{/js/portfolio.js}" src="../static/js/portfolio.js"></script>
<script th:src="@{/js/hoverdir.js}" src="../static/js/hoverdir.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<!-- MAP & CONTACT -->
<script th:src="@{/js/map.js}" src="../static/js/map.js"></script>
<script th:src="@{/js/testing.js}" src="../static/js/testing.js"></script>

</body>
</html>