<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Insure Masters - Insure your car, be safe on the road.</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link th:href="@{/images/favicon.ico}" rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon"/>
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon" href="../static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link th:href="@{/style.css}" rel="stylesheet" href="../static/style.css">
    <!-- Colors CSS -->
    <link th:href="@{/css/colors.css}" rel="stylesheet" href="../static/css/colors.css">
    <!-- ALL VERSION CSS -->
    <link th:href="@{/css/versions.css}" rel="stylesheet" href="../static/css/versions.css">
    <!-- Responsive CSS -->
    <link th:href="@{/css/responsive.css}" rel="stylesheet" href="../static/css/responsive.css">
    <!-- Custom CSS -->
    <link th:href="@{/css/custom.css}" rel="stylesheet" href="../static/css/custom.css">

    <!-- Modernizer for Portfolio -->
    <script th:src="@{/js/modernizer.js}" src="../static/js/modernizer.js"></script>


    <!--[if lt IE 9]>
    //TODO MAYBE
    <script src="../static/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="../static/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="realestate_version">

<!-- LOADER -->
<div id="preloader">
    <span class="loader"><span class="loader-inner"></span></span>
</div><!-- end loader -->
<!-- END LOADER -->

<header class="header header_style_01">
    <nav class="megamenu navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logos/logo.png}"
                                                            src="../static/images/logos/logo.png" alt="image"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/my-policies}">My Policies</a></li>
                    <li><a th:href="@{/service}">Service</a></li>
                    <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/policy-approval}">Policy Requests</a></li>
                    <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/tickets}">Tickets</a></li>
                    <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a></li>
                    <li><a sec:authorize="!isAuthenticated()" class="active" th:href="@{/register}">Register</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
                    <li class=" social-links"><a href="#"><i class="fa fa-twitter global-radius"></i></a></li>
                    <li class="social-links"><a href="#"><i class="fa fa-facebook global-radius"></i></a></li>
                    <li class="social-links"><a href="#"><i class="fa fa-linkedin global-radius"></i></a></li>
                    <li class="search-option">
                        <button class="search tran3s dropdown-toggle" id="searchDropdown" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"
                                                                              aria-hidden="true"></i></button>
                        <form action="#" class="p-color-bg dropdown-menu tran3s" aria-labelledby="searchDropdown">
                            <label>
                                <input type="text" placeholder="Search....">
                            </label>
                            <button class="p-color-bg"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<ul class='slideshow'>
    <li>
        <span>Summer</span>
    </li>
    <li>
        <span>Fall</span>
    </li>
    <li>
        <span>Winter</span>
    </li>
    <li>
        <span>Spring</span>
    </li>
</ul>
<div>
    <div class="parallax first-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow slideInLeft hidden-xs hidden-sm">
                    <div class="contact_form">
                        <h3><i class="fa fa-envelope-o grd1 global-radius"></i> REGISTER</h3>
                        <form method="post" th:action="@{/register}" th:object="${userCreateDto}" class="px-4 py-3">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input th:field="*{firstName}" type="text" class="form-control" id="firstname"
                                       name="firstname"
                                       placeholder="First Name">
                                <div>
                                    <p th:if="${#fields.hasErrors('firstName')}" class="label label-danger"
                                       th:errors="*{firstName}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Family Name</label>
                                <input th:field="*{lastName}" type="text" class="form-control" id="lastname"
                                       name="lastname"
                                       placeholder="Last Name">
                                <div>
                                    <p th:if="${#fields.hasErrors('lastName')}" class="label label-danger"
                                       th:errors="*{lastName}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input th:field="*{email}" type="email" class="form-control" id="email" name="email"
                                       placeholder="email@example.com">
                                <h5 class="d-flex justify-content-center">
                                    <i th:if="${invalidEmail != null}" th:text="${invalidEmail}" class="error" style="color: red"></i>
                                </h5>
                                <div>
                                    <p th:if="${#fields.hasErrors('email')}" class="label label-danger"
                                       th:errors="*{email}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input th:field="*{password}" type="password" class="form-control" id="password"
                                       name="password"
                                       placeholder="Password">
                                <h5 class="d-flex justify-content-center">
                                    <i th:if="${invalidPassword != null}" th:text="${invalidPassword}" class="error" style="color: red"></i>
                                </h5>
                                <div>
                                    <p th:if="${#fields.hasErrors('password')}" class="label label-danger"
                                       th:errors="*{password}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="passwordConfirm">Confirm Password</label>
                                <input th:field="*{confirmPassword}" type="password" class="form-control"
                                       id="passwordConfirm" name="passwordConfirm"
                                       placeholder="Confirm Your Password">
                                <div>
                                    <p th:if="${#fields.hasErrors('confirmPassword')}" class="label label-danger"
                                       th:errors="*{confirmPassword}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input th:field="*{phoneNumber}" type="text" class="form-control"
                                       id="phone" name="phone"
                                       placeholder="Phone">
                                <div>
                                    <p th:if="${#fields.hasErrors('phoneNumber')}" class="label label-danger"
                                       th:errors="*{phoneNumber}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input th:field="*{addressName}" type="text" class="form-control"
                                       id="address" name="address"
                                       placeholder="Address">
                                <div>
                                    <p th:if="${#fields.hasErrors('addressName')}" class="label label-danger"
                                       th:errors="*{addressName}"></p>
                                </div>
                            </div>
                            <button type="submit" style="background-color: #004d33" class="btn btn-primary">
                                Register
                            </button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/login}">Already have account ? Go to Login Page.</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end row -->
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <img th:src="@{/images/logos/logo.png}"
                             src="../static/images/logos/logo.png" alt="">
                    </div>
                    <p> Vehicle insurance is insurance for cars, trucks, motorcycles, and other road vehicles. Its
                        primary use is to provide
                        financial protection against physical damage or bodily injury resulting from traffic collisions
                        and
                        against liability that could also arise from incidents in a vehicle.</p>
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Info Link</h3>
                    </div>

                    <ul class="twitter-widget footer-links">
                        <li><a th:href="@{/}"> Home </a></li>
                        <li><a sec:authorize="isAuthenticated()" th:href="@{/my-policies}">My Policies</a></li>
                        <li><a th:href="@{/service}"> Services</a></li>
                        <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/policy-approval}">Policy
                            Requests</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Contact Details</h3>
                    </div>

                    <ul class="footer-links">
                        <li><a href="mailto:#">emailsendingcarinsurance@gmail.com</a></li>
                        <li><a href="#">localhost:8080</a></li>
                        <li>Plovdiv Bulgaria</li>
                        <li>+359 99 999 999</li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Social</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="https://gitlab.com/angel.obretenov/car-insurance-project"><i
                                class="fa fa-gitlab"></i> Gitlab</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">Insure Masters</a> Design
                    By : <a href="https://html.design/">Angel and Misho</a></p>
            </div>

            <div class="footer-right">
                <form method="get" action="#">
                    <label>
                        <input placeholder="Subscribe our newsletter.." name="search">
                    </label>
                    <i class="fa fa-envelope-o"></i>
                </form>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<!-- ALL JS FILES -->
<script th:src="@{/js/all.js}" src="../static/js/all.js"></script>
<!-- ALL PLUGINS -->
<script th:src="@{/js/custom.js}" src="../static/js/custom.js"></script>
<script th:src="@{/js/portfolio.js}" src="../static/js/portfolio.js"></script>
<script th:src="@{/js/hoverdir.js}" src="../static/js/hoverdir.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<!-- MAP & CONTACT -->
<script th:src="@{/js/map.js}" src="../static/js/map.js"></script>
<!--<script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>-->
<script th:src="@{/js/testing.js}"></script>

</body>
</html>